/elpa/
*.elc
/.sx/
bbdb
bookmarks
projects
tramp
/auto-save-list/
/url/
/history
/transient
/network-security.data
/session.*
/eshell/*
!/eshell/alias
/games/
/speed-type/
/recentf
/server
/eln-cache
forge-database.sqlite
nov-places
persist/
multisession/
emojis/emojione-v2.2.6-22/
request/
