/elpa/
*.elc
/.sx/
bbdb
bookmarks
projects
tramp
/auto-save-list/
/url/
/history
/transient
/network-security.data
/session.*
/garbage.el
/eshell/*
!/eshell/alias
/games/
/speed-type/
/recentf
/server
/eln-cache